image: node:20

variables:
  FRONTEND_DIR: app/frontend

stages:
  - install
  - test
  - e2e

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - ${FRONTEND_DIR}/node_modules

install_dependencies:
  stage: install
  script:
    - cd ${FRONTEND_DIR}
    - npm ci
  artifacts:
    paths:
      - ${FRONTEND_DIR}/node_modules
    expire_in: 1h

unit_tests:
  stage: test
  needs:
    - install_dependencies
  script:
    - cd ${FRONTEND_DIR}
    - npm run lint
    - npm run type-check
    - npm run test:unit -- --runInBand

playwright_e2e:
  image: mcr.microsoft.com/playwright:v1.44.1-jammy
  stage: e2e
  needs:
    - install_dependencies
  script:
    - cd ${FRONTEND_DIR}
    - npm ci
    - npm run test:e2e
